body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

main {
  max-width: 280px;
}

.pokemon {
  text-align: center;
}

.pokemon__name {
  margin: 0;
  text-transform: uppercase;
}
